# PhpStorm files
.idea
/*~

# System files
.DS_Store

# Vhosts
nginx/sites/*
!nginx/sites/test.conf
!nginx/sites/intro.conf
!nginx/sites/symfony.conf
!nginx/sites/default.conf
!nginx/sites/admin.intro.conf
!nginx/sites/admin.redis.conf
!nginx/sites/admin.mysql.conf
!nginx/sites/admin.memcached.conf

# tmp
logs/*
mysql/data/*
redis/data/*
postgres/data/*
postgres/admin/*
admin/memcached/temp

# test
dnsmasq