# PhpStorm files
.idea
/*~

# System files
.DS_Store

# Vhosts
vhosts/*
!vhosts/test.conf
!vhosts/symfony.conf
!vhosts/default.conf
!vhosts/admin.intro.conf
!vhosts/admin.redis.conf
!vhosts/admin.mysql.conf
!vhosts/admin.memcached.conf

# tmp
logs/*
data/*
admin/memcached/Temp